* {
    box-sizing: border-box;
}

.post-wrp {
    display: flex;
    flex-wrap: wrap;
}

.post {
    width: 23%;
    margin: 1%;
    padding: 15px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: #232323;
}

a:hover {
    text-decoration: underline;
}