<div class="post-wrp">
  <div class="post" *ngFor="let post of postList">
    <h1>
      <a [routerLink]="['/post', post.id]">
        {{ post.title }} ({{ post.commentCount }})
      </a>
    </h1>
    <div class="post-body">{{ post.body }}</div>
  </div>
</div>
