<h1>{{ postData?.title }}</h1>
<div class="post-body">{{ postData?.body }}</div>
<div class="post-comments">
  <h1>Comments ({{ comments.length }}): </h1>
  <div class="comment" *ngFor="let comment of comments">
    <div class="comment-email">{{ comment.email }}</div>
    <div class="comment-body">{{ comment.body }}</div>
  </div>
</div>
